<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nils Caspar</string>
	<key>Builder Version</key>
	<string>10600.2.5</string>
	<key>CFBundleDisplayName</key>
	<string>ReChat for Twitch™</string>
	<key>CFBundleIdentifier</key>
	<string>org.rechat.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.4</string>
	<key>CFBundleVersion</key>
	<string>0.8.4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/jquery.min.js</string>
				<string>js/please.js</string>
				<string>js/rechat.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.twitch.tv/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Adds chat messages from the past to your favorite Twitch VODs</string>
	<key>DeveloperIdentifier</key>
	<string>2XY76Y6E6J</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.twitch.tv</string>
				<string>api.twitch.tv</string>
				<string>*.rechat.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://www.rechat.org/AppleExtensionUpdateProperties.plist</string>
	<key>Website</key>
	<string>http://www.rechat.org/</string>
</dict>
</plist>
